bin/
obj/
research/
releases/
template/
.vs/
.idea/
*.user
*.coc
out_api.txt
Library/
Frontend/node_modules/
Frontend/dist/
Frontend/package-lock.json
*.log
*.dll
*.pdb
*.so
*.bundle
tests/t3/t3.runtimeconfig.json
.DS_Store
